.vagrant/
bowery/client/client
bowery/client/gin-bin
bowery/agent/agent
bowery/agent/test/plugins
bowery/agent/test/*.tar.gz
UserInterfaceState.xcuserstate
BoweryMenubarApp/Bowery/Bowery/*
pkg/
bin/
debug.log
goxc.log
build/
dist/
scripts/util
scripts/util.exe
bowery/agent/choco
node_modules
npm-debug.log
ui/bowery/out.css
ui/components
shots
ui/diff
client_pid
bowery/updater/updater
shell/term.min.html
