.vagrant/
bowery/client/client
bowery/client/gin-bin
bowery/agent/agent
bowery/agent/test/plugins
bowery/agent/test/*.tar.gz
UserInterfaceState.xcuserstate
BoweryMenubarApp/Bowery/Bowery/*
pkg/
bin/
debug.log
goxc.log
build/atom-shell
build/node_modules
build/cache
dist/
scripts/winutil.exe
bowery/agent/choco
node_modules
