

*::-moz-selection {
  /*background-color: rgb(245, 245, 245) !important;*/
  background-color: rgb(220, 221, 223) !important;
  /*color: white;*/
}

*::selection {
  /*background-color: rgb(245, 245, 245) !important;*/
  background-color: rgb(220, 221, 223) !important;
  /*color: white;*/
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  /*height: 100%;*/
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
}

h1,
h2,
h3,
h4,
input {
  font-family: "Monosten A", Courier, monospace;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: rgb(11, 0, 4);
}

body,
a,
p,
span,
textarea,
option,
select,
button {
  font-family: "Monosten E", Courier, monospace;
  font-size-adjust: 0.5;
  font-weight: 200;
  font-style: normal;
  color: rgb(109, 109, 111);
}

p {
  margin-bottom: 18px;
}

h1 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 18px;
  color: rgb(109, 109, 111);
  text-transform: uppercase;
  font-family: "Monosten E", Courier, monospace;
  letter-spacing: 2px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 18px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 18px;
}

h4 {
  font-size: 12px;
  line-height: 18px;
}

label,
input {
  background: inherit;
  display: block;
}

input {
  display: block;
  border: none;
  text-align: left;
  color: white;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
  width: 100%;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #DCDDDF;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

label {
  font-size: 12px;
  line-height: 14px;
  color: #DCDDDF;
}

button {
  -webkit-app-region: no-drag;
  background: transparent;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  -webkit-appearence: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 10px;
  position: relative;
  float: left;
  background: inherit;
}

.btn {
  width: 100%;
  height: 78px;
  padding: 31px 33px;
  background: inherit;
  color: white;
  display: block;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.btn:hover {
  background: #64ABCE;
}

.btn.bad:hover {
  background: #FF6656;
}

.card {
  position: relative;
  width: 100%;
  height: 78px;
  padding: 18px 33px;
  background: #361B4B;
  overflow: hidden;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

.card:hover {
  cursor: pointer;
  background: #64ABCE;
}

.card .unclickable {
  cursor: text;
  font-size: 12px;
  line-height: 14px;
  color: #DCDDDF;
  width: auto;
  /*overflow: auto; width: 0;*/
}

.card h4 {
  background: inherit;
  color: white;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
  width: 100%;
}

.ok {
  color: #41C524;
}

.error {
  color: #F46556;
}

.provisioning {
  color: #F5AC4E;
}

.field-group {
  width: 100%;
  height: 78px;
  padding: 18px 33px;
}