<div class="group applications">
  <ul class="list">
    {{range .Apps}}
    <li class="item" data-app="{{.ID}}">
      <a href="/applications/{{.ID}}">
        <h3>{{if .Name}}{{.Name}}{{else}}{{.LocalPath}}{{end}}</h3>
        <span class="status"></span>
        <p class="subtitle"><a href="/log.html?app={{.ID}}">logs</a> • {{.RemoteAddr}}</p>
      </a>
    </li>
    {{end}}
  </ul>
</div>
