<form class="form" method="post" action="/_/login">
  <div class="field">
    <input type="text" name="email" class="field-input" />
    <label for="email" class="field-label">Email</label>
  </div>
  <div class="field">
    <input type="password" name="password" class="field-input" />
    <label for="password" class="field-label">Password</label>
  </div>
  <div class="field-submit">
    <input class="submit" type="submit" value="Submit" />
  </div>
</form>
<h3>Don't have an account? <a href="/signup">Sign up here.</a></h3>
