<!doctype html>
<head>
<link rel="stylesheet" href="/styles/main.css" />
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/sync.js"></script>
<title>Bowery</title>
</head>
<body>
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="/applications">Apps</a>
        </li>
        <li class="nav-list-item">
          <a href="/settings">Settings</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      {{yield}}
    </div>
  </div>
</body>
