<header>
  <h2>Login</h2>
  <h5>Funny line.</h5>
</header>
<form class="form" method="POST" action="/login">
  <div class="field">
    <label for="email" class="field-label">Email</label>
    <input type="text" name="email" class="field-input" />
  </div>
  <div class="field">
    <label for="password" class="field-label">Password</label>
    <input type="password" name="password" class="field-input" />
  </div>
  <div class="field-submit">
    <input class="submit  btn btn-primary" type="submit" value="Submit" />
  </div>
</form>
<h3>Don't have an account? <a href="/signup">Sign up here.</a></h3>
<h3>Forgot your password? <a href="/reset">Reset it.</a></h3>

<script type="text/javascript">

$(document).ready(function () {
  var url = window.location.href
  var idx = url.indexOf('?')
  var query = {}
  if (idx > -1) {
    var items = url.slice(idx+1).split('&')
    for (var i in items) {
      var vals = items[i].split('=')
      query[vals[0]] = vals[1]
    }
  }

  if (query.error == 'invalidemail') {
    $('.field-input[name=email]').parent().addClass('invalid')
    $('.field-input[name=email]').siblings('.field-label').text('Email not found')
  }

  if (query.error == 'invalidpass') {
    $('.field-input[name=password]').parent().addClass('invalid')
    $('.field-input[name=password]').siblings('.field-label').text('Password incorrect')
  }
})

</script>
