<form class="form" method="POST" action="/reset">
  <div class="field">
    <input type="text" name="email" class="field-input" />
    <label for="email" class="field-label">Email</label>
  </div>
  <div class="field-submit">
    <input class="submit" type="submit" value="Submit" />
  </div>
</form>
<h3>You will receive an email with instructions to reset your password.</h3>
