* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 18px;
  /* padding: 200px 600px; */
  /* background: url("http://i.cloudup.com/OcSNhET4sc.png"); */
  cursor: default;
  color: rgb(108, 119, 126);

}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 350px;
  height: 350px;
  border-radius: 1px;
  overflow: hidden;
  border-bottom: 2px solid rgb(62, 170, 114);
}
.content {
  overflow: auto;
  height: 212px;
}
.content::-webkit-scrollbar {
  width: 0 !important;
}

.nav {
  height: 140px;
  width: 100%;
  background: rgb(62, 170, 114);
  overflow: hidden;
  border-bottom: 1px solid rgb(22, 74, 45);
}
.nav .icon {
  width: 50px;
  height: 50px;
  margin: 45px;
  margin-right: 20px;
  background: rgb(22, 74, 45);
  float: left;
}
.title-wrapper {
  height: 64px;
  margin: 38px 0;
  overflow: hidden;
}
h1 {
  font: bold 32px Helvetica;
  color: white;
}
h3 {
  text-transform: uppercase;
  font: bold 10px Helvetica;
  color: rgb(22, 74, 45);
}

.list {
  list-style: none;
}
.item {
  width: 100%;
  position: relative;
}
.item:hover {
  /*border-top: 1px solid rgb(208, 227, 230);
  border-bottom: 1px solid rgb(208, 227, 230);
  background: white;*/
}
.item a,
.item input {
  display: inline-block;
  width: 100%;
  color: rgb(108, 119, 126);
  background: rgb(234, 239, 243);
  border-top: 1px solid rgb(234, 239, 243);
  border-bottom: 1px solid rgb(234, 239, 243);
  padding: 15px 0 15px 45px;

  transition: all 200ms;
}
.item a:hover,
.item input:hover,
.item input:focus {
  color: rgb(44, 46, 53);
  padding-left: 55px;
  border-top: 1px solid rgb(208, 227, 230);
  border-bottom: 1px solid rgb(208, 227, 230);
  background: white;
}

textarea, input {
  outline: none;
  border: 0;
  background: inherit;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

.submit, .btn {
  cursor: pointer;
}

.item input.submit,
.item a.btn {
  font-weight: bold;
  color: rgb(62, 170, 114);
}


.item input.submit.alert,
.item a.btn.alert {
  font-weight: bold;
  color: #da4d0f; /* darker: #aa3c0c */
  /*color: white;*/
}
