<form class="form edit-application">
  <input class="appId" type="hidden" value="{{.Application.ID}}" name="id">
  <ul>
    <li class="item">
      <input type="text" class="field-input" name="name" id="name" value="{{.Application.Name}}" placeholder="Application Name">
    </li>
    <li class="item">
      <input type="text" class="field-input" name="ip-addr" id="ip-addr" value="{{.Application.RemoteAddr}}" placeholder="IP Address">
    </li>
    <li class="item">
      <input type="text" class="field-input" name="local-dir" id="local-dir" value="{{.Application.LocalPath}}" placeholder="Local Directory">
    </li>
    <li class="item">
      <input type="text" class="field-input" name="remote-dir" id="remote-dir" value="{{.Application.RemotePath}}" placeholder="Remote Directory">
    </li>
    <li class="item">
      <input type="text" class="field-input" name="start" id="start" value="{{.Application.Start}}" placeholder="Start Command">
    </li>
    <li class="item">
      <input type="text" class="field-input" name="build" id="build" value="{{.Application.Build}}" placeholder="Build Command">
    </li>
    <li class="item">
      <input class="submit edit half" type="submit" value="Update">
      <input class="submit delete half alert" type="submit" value="Delete">
    </li>
  </ul>
</form>

<script type="text/javascript">
  $(document).ready(function () {
    var appId = $('.appId').val()

    $('.edit-application .submit.edit').click(function (e) {
      e.preventDefault()
      $.ajax({
        url: "/applications/" + appId,
        method: "PUT",
        data: $('.form.edit-application').serialize()
      })
      .done(function (resp) {
        if (resp.success) {
          window.location = "/applications"
        } else {
          alert(resp.error)
        }
      })
    })

    $('.edit-application .submit.delete').click(function (e) {
      e.preventDefault()
      $.ajax({
        url: "/applications/" + appId,
        method: "DELETE"
      })
      .done(function (resp) {
        if (resp.success) {
          window.location = "/applications"
        } else {
          console.log(resp)
          alert(JSON.stringify(resp))
        }
      })
    })
  })

</script>
