<div class="group applications">
  <ul class="list">
    <li class="item">
      <a href="/applications">
        <h3>Applications</h3>
        <p class="subtitle">Description here</p>
      </a>
    </li>
    <li class="item">
      <a href="/plugins">
        <h3>Plugins</h3>
        <p class="subtitle">Description here</p>
      </a>
    </li>
    <li class="item">
      <a href="/settings">
        <h3>Applications</h3>
        <p class="subtitle">Description here</p>
      </a>
    </li>
  </ul>
</div>
