<ul class="list">
  <li class="item">
    <a href="/applications">Applications</a>
  </li>
  <li class="item">
    <a href="/plugins">Plugins</a>
  </li>
  <li class="item">
    <a href="docs.bowery.io">Documentation</a>
  </li>
  <li class="item">
    <a href="mailto:support@bowery.io">Support</a>
  </li>
  <li class="item">
    <a href="mailto:support@bowery.io">Hidden</a>
  </li>
</ul>
