<ul class="list">
  <li class="item">
    <a href="/applications">Applications</a>
  </li>
  <li class="item">
    <a href="/plugins">Plugins</a>
  </li>
  <li class="item">
    <a href="/settings">Settings</a>
  </li>
  <li class="item">
    <a href="mailto:support@bowery.io">Help</a>
  </li>
</ul>
