<!doctype html>
<head>
<link rel="stylesheet" href="/styles/main.css" />
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/sync.js"></script>
<title>Bowery v3 guide</title>
</head>
<body>
  <div class="container login">
    <div class="triangle"></div>
    <div class="nav">
      <span class="heading title">{{.Title}}</span>
      <a href="/applications/new" class="create-app-link">
        <img class="icon" src="/images/746-plus-circle@2x.png">
      </a>
    </div>
    <div class="content">
      <div class="extra-white"></div>
      {{yield}}
      <div class="extra-white"></div>
    </div>
    <div class="footer">
      <a href="#" class="spin">
        <img class="icon" src="/images/759-refresh-2@2x.png">
      </a>
      <div class="status">
        <p class="status-description">Documents is syncing</p>
        <div class="bar">
          <div class="inner-bar" role="progressbar" style="width: 60%;"></div>
        </div>
      </div>
      <a href="/settings" class="settings-link">
        <img class="icon gear" src="/images/740-gear@2x.png">
      </a>
    </div>
  </div>
</body>
