<!doctype html>
<head>
<link rel="stylesheet" href="/styles/main.css" />
<title>Bowery v3 guide</title>
</head>
<body>
  <div class="container login">
    <div class="triangle"></div>
    <div class="nav">
      <span class="heading">{{.Title}}</span>
      <a href="/new" class="create-app-link">
        <img class="icon" src="/images/plus.png">
      </a>
    </div>
    <div class="content">
      {{yield}}
    </div>
    <div class="footer">
      <a href="#" class="spin">
        <img class="icon" src="/images/spin.png">
      </a>
      <div class="status">
        <p class="status-description">test-project is syncing</p>
        <div class="bar">
          <div class="inner-bar" role="progressbar" style="width: 60%;"></div>
        </div>
      </div>
      <a href="/settings" class="settings-link">
        <img class="icon gear" src="/images/gear.png">
      </a>
    </div>
  </div>
</body>
