
    <form method="post" action="/_/login">
      <input type="text" name="email" placeholder="email" />
      <input type="passord" name="password" placeholder="password" />
      <input type="submit" />
    </form>
