<div class="group plugins">
  <ul class="list">
    {{range .Plugins}}
    <li class="item">
      <a href="/plugins/{{.Name}}/{{.Version}}">
        <h3>{{.Name}}</h3>
        <span class="status"></span>
        <p class="subtitle">{{.Description}}</p>
      </a>
    </li>
    {{end}}
  </ul>
</div>
