<div class="group settings">
  <form class="form user-settings" method="POST" action="/settings">
    <ul class="list">
      <li class="item">
        <input type="text" name="name" class="field-input" value="{{.Developer.Name}}" />
      </li>
      <li class="item">
        <input type="text" name="email" class="field-input" value="{{.Developer.Email}}" />
      </li>
      <li class="item">
        <input type="password" name="password" class="field-input" placeholder="Password" />
      </li>
      <li class="item">
        <input class="submit" type="submit" value="Submit" />
      </li>
    </ul>
  </form>
  <a href="/logout">Logout</a>
</div>
