<form class="form" method="post" action="/_/signup">
  <div class="field">
    <input type="text" name="name" class="field-input" />
    <label for="name" class="field-label">Name</label>
  </div>
  <div class="field">
    <input type="text" name="email" class="field-input" />
    <label for="email" class="field-label">Email</label>
  </div>
  <div class="field">
    <input type="password" name="password" class="field-input" />
    <label for="password" class="field-label">Password</label>
  </div>
  <div class="field-submit">
    <input class="submit" type="submit" value="Submit" />
  </div>
</form>
Already have an account? <a href="/login">Login</a>
